@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,300&display=swap');

/* input web-kit */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*{
    font-family: 'Nunito';
    margin: 0;padding: 0;top: 0;
    box-sizing: border-box;
    /* text-transform: capitalize; */
    outline: none; border: none;
    text-decoration: none;
    /* transition: all .2s linear; */
    scroll-behavior: smooth;
    list-style: none;
    font-size: 1rem;
}
:root{
    --main-border-color: rgb(194, 194, 194);
    --main-background-color : #dbe8f566
}

/*========= start index style ==========*/
section{
    padding: 2rem 4%;
    font-size: 1.2rem;
    /* min-height: 10rem; */
    overflow: hidden;
}

/* ================= FORM ===================== */
.box-input{
    padding: .3rem .5rem;
    border: 1px solid var(--main-border-color);
    width: 100%;
}.box-input:focus{
    border-color: orange;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 20;
    background: #fff;
}.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid rgba(7, 7, 7, 0.445);
}.navbar .logo-navbar a{
    font-size: 1.1rem;
    color: #000;
    font-weight: bold;
}.navbar .menu-navbar{
    display: flex;
    gap: .5rem;
}
.navbar .menu-navbar a{
    color: #000;
}.navbar .logo-navbar a:hover, .navbar .menu-navbar a:hover{
    color: rgb(69, 233, 156);
}


main{
    padding-top: 1.5rem;
}

@media(max-width:768px){
    
}
